node_modules/
dist/
src/generated/
# *.env* not ignored because prisma needs it for finding the database URL
/.idea/
README.md
.eslintignore
.eslintrc.js
schema.graphql
Dockerfile
.dockerignore
.gitignore
